@import '../../../scss/mixins.scss';
@import '../../../scss/animations.scss';
.login__info {
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeOutUp 3s ease-in-out;
}
