input[type='file'] {
  position: relative;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &::before {
    content: 'Загрузить фото';
    cursor: pointer;
    display: inline-block;
  }
}

.invalid__feedback {
  color: #ff0000;
}
