@import '../../scss/variables.scss';

.collection {
  &__none {
    display: block;
    text-align: center;
  }
  &-item {
    display: block;
  }
}

.position__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px 20px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  cursor: pointer;
  transition: background-color 0.25s;
  color: $fifthColor;
  &:hover {
    background-color: $mainColorHvr !important;
  }
}
