@import '../../scss/variables.scss';

.logo {
  &__sidebar {
    height: 64px !important;
    position: relative;
    svg {
      fill: $secondColor !important;
    }
  }
  svg {
    position: absolute;
    top: 10%;
    fill: $mainColor;
  }
}
